#main {
	max-width: 1024px;
	margin: 0 auto;
	font-family:'Roboto';
}	
#foto {
	text-align: center;
}
#informacoes-gerais {
	text-align: center;
	font-family: 'Roboto';
}
h1 {
	text-align: center;
	color:darkblue;
	font-family: 'Roboto';
}
h2 {
	color:darkblue;
	font-family:'Roboto';
}
h4 {
	color:darkblue;
	margin:5px;
	font-family:'Roboto';
}
#aumentar-currículo {
	background-color: blue;
	color: white;
	border: solid 2px black;
	font-size: 2em;
}

#texto {
	width: 90%;
	height: 50px;
	border: solid 2px black;
	font-size: 2em;

}